.home-img{
  
width: 98vw;
}

.img-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 2px 0px 10px 0px;
}

.text-container{
  display: flex;
  margin-left: 2vw;
  flex-direction: column;
  
}

a{
  text-decoration: none;
  color: black;
}

.navbar{
  background-color: #3DC4FC;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#home-icon{
  width: 30px;
}

.beer-text > p{
  color:black;
  font-weight: bold;
  font-size: 10px;

}

.beer-text > h2{
  font-weight: 500;
}

.beer-text > h3{
  color: gray;
  font-weight: normal;
  size: 150px;
}

.beer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-beer{
 width: 20vw;
}

.beer-container{
  display: flex;
  justify-content: space-evenly;
}